// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'modules/nav.scss';
@import 'modules/mapbox.scss';
@import 'modules/skews.scss';
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body,html {
    background-color: white;
    overflow-x: hidden;
}

//TYPOGRAPHY

h1 {
    font-size: 2.625rem;
}

.uk-search {
    .uk-search-input {
        color: white;
        &::placeholder {
            color: white;
        }
    }
}

.uk-background-cover {
    background-color: #823A9C;
    background-blend-mode: luminosity;
    opacity: 0.9;
}

.main-search {
    h1,input {
        text-shadow: 1px 1px #000;
    }
}
