.uk-search {
    .uk-search-input {
        color: white;
        &::placeholder {
            color: white;
        }
    }
}

.main-search-background {
    background-color: #823A9C;
    background-blend-mode: luminosity;
    opacity: 0.9;
    background-attachment: fixed;
    @media screen and (max-width: 900px) {
        background-attachment: unset;
        background-size: cover;
        background-position: top center;
    }
}

.main-search {
    h1,input {
        text-shadow: 2px 2px #000;
    }
}
