body {
    margin:0px;
}
.colour-block {
    background:#823A9C;
    width:100%;
    padding:15% 5% 10% 5%;
    color:#fff;

    h1,h3, h5 {
        color: white;
    }

}
.white-block {
    background:#fff;
    width:100%;
    padding:15% 5% 10% 5%;
    color:#823A9C;

    h1,h3,h5 {
        color: #823A9C;
    }
}

.white-block-first {
    margin-top: -150px;

    @media screen and (max-width: 1200px) {
        margin-top: -50px;
    }
}

.first-block {
    margin-top: 100px;
    background: none;
}
/*------------------*/
/*  SKEW CLOCKWISE  */
/*------------------*/
.skew-cc{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to right bottom, #823A9C 49%, #fff 50%);
}

.skew-fe{
    width:100%;
    height:100px;
    left:0px;
    background: linear-gradient(to right bottom, rgba(130, 58, 156, 0) 49%, #fff 50%);
}
/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
.skew-c{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to left bottom, #fff 49%, #823A9C 50%);
}

.skew-cs{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to left bottom, #fff 49%, rgba(130, 58, 156, 0) 50%);
}
.skew-f {
    margin-top: 100px;
}

@media screen and (max-width: 900px) {
    .colour-block, .white-block {
        padding-top: 20%;
    }
}

@media screen and (max-width: 650px) {
    .first-block {
        padding-top: 30% !important;
    }
    .colour-block, .white-block {
        padding-top: 30%;
        padding-bottom: 15%;
    }

    .skew-f {
        margin: 0;
    }
}

